.eventsheading {
    text-align: center;

}

.header {
    background-color: #59d85e;
    margin-top: -20px;
    margin-bottom: -3px;
}

.headerwords {
    font-size: 100px;
}

.hero {
    background-color: #f8f8f8;
}

.hello {
    text-align: center;
}

a {
    color: #38a44c;
}

a:hover {
    color: blue;
}

/* FOOTER */

.footer {
    background-color: #f8f8f8;
    margin-top: 20px;

}

.footer .btn {
    margin-top: 5px;
}

.footer i {
    font-size: 20px;
}

/* FOOTER END */
