.ecoimg1 {
    position: relative;
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ecoimg3 {
    position: relative;
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: relative;
    text-align: center;
}

.container1 {
    position: relative;
    bottom: 0%;
    padding: 2px;
}

.container2 {
    position: relative;
    bottom: 0%;
    padding: 2px;
}

.container3 {
    position: relative;
    bottom: 0%;
    padding: 2px;
}

.ecoimg2 {
    position: relative;
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

.footer {
    background-color: #f8f8f8;
    margin-top: 20px;

}

.footer .btn {
    margin-top: 5px;
}

.footer i {
    font-size: 20px;
}

/* FOOTER END */
