.eventsheading {
    text-align: center;

}

.header {
    background-color: #59d85e;
    margin-top: -20px;
    margin-bottom: -3px;
}

.headerwords {
    font-size: 100px;
}

.hero {
    background-color: #f8f8f8;
}
