/*Navbar*/
.navbar-default {
    background-color: #F8F8F8;
    border-color: #fff;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
display: block;
}
/*Home Page*/

.Home{
  color:black;
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color:white;*/
  
}

.my-container {
    position: relative;
 
}
.my-container h1 {
    padding: 200px;
    position: relative;
    
} 
.my-container img {
    position: absolute;
    left: 0;
    top: -24px;
    width: 100%;
    height:auto;
    opacity: .3;
}

/*Footer*/

.footer {
  background-color: #000;
  position: absolute;
  height: 100px;
  bottom:0px;
  width:100%;
  
}

/*Footer End*/