/*Navbar*/

.navbar-default {
  background-color: #F8F8F8;
  border-color: #fff;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: Arial;
  background: white;
  color: black;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.myimages img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 250px;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 0px) {
  .leftcolumn,
  .rightcolumn {
    width: 70%;
    padding: 0;
  }
}

@media screen and (min-width: 600px) {
  .leftcolumn,
  .rightcolumn {
    width: 70%;
    padding: 0;
  }
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/* Add styles to the form container */

.form-container {
  padding: 10px;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}

input[type='checkbox'] {
  zoom: 2
}

/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus,
.form-container input[type=checkbox]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
